# Ignore the Database (CRITICAL).
system_files/Carver_Shocks_Database.csv

# Ignore the Temp Cleanup files.
system_files/temp_clean.csv

# Ignore VS Code settings (optional but good practice).
.vscode/

# Ignore Legacy Backup files.
Legacy/

# Ignore Readme, only those within the company should know how to run the system.
ReadMe.txt

# Ignore any log files that may be generated.
system_files/missing_skus.log

# Ignore the audit logs, personal information should not be shared.
system_files/audit_logs.csv

# Ignore the vendor folder, it can be recreated using composer.
vendor/