# Ignore the Database (CRITICAL).
system_files/Carver_Shocks_Database.csv

# Ignore the Temp Cleanup files.
system_files/temp_clean.csv

# Ignore VS Code settings (optional but good practice).
.vscode/

# Ignore Legacy Backup files.
Legacy/

# Ignore Readme, only those within the company should know how to run the system.
ReadMe.txt